:root {
    --theme-name: "light";

    --theme-background-foreground: black;
    --theme-background-light: #ffffff;
    --theme-background-dark: #fcfcfc;

    --theme-primary-background: #ff5722;
    --theme-primary-foreground: #fff;

    --theme-panel-background: rgb(240, 240, 240);
    --theme-panel-foreground: black;

    --theme-error-background: #8f0707;
    --theme-error-foreground: #fff;

    --theme-dark-background: black;
    --theme-dark-foreground: white;
}

@media  (prefers-color-scheme: dark) {
    :root {
        --theme-name: "dark";

        --theme-background-foreground: #fff;
        --theme-background-light: #050505;
        --theme-background-dark: #000000;

        --theme-panel-background: rgb(44, 44, 44);
        --theme-panel-foreground: #fff;

        --theme-dark-background: rgb(44, 44, 44);
        --theme-dark-foreground: white;
    }

    /* For all black icons, invert them to a light colour */
    .invert-dark {
        -webkit-filter: invert();
        filter: invert();
    }

    hr {
        border-top: 1px solid var(--theme-panel-background) !important;
    }

    input,select,textarea {
        background-color: var(--theme-panel-background);
        color: var(--theme-panel-foreground);
    }
}

html {
    min-height: 100%;
    color: var(--theme-background-foreground);
    background: repeating-linear-gradient(
        -45deg,
        var(--theme-background-light),
        var(--theme-background-light) 20px,
        var(--theme-background-dark) 20px,
        var(--theme-background-dark) 40px
    );
}

.app-primary {
    color:var(--theme-primary-foreground)!important;
    background-color:var(--theme-primary-background)!important;
}

.text-primary {
    color:var(--theme-primary-background)!important;
}

.app-error {
    color:var(--theme-error-foreground)!important;
    background-color:var(--theme-error-background)!important;
}

.border-primary {
    border-top-color:var(--theme-primary-background)!important;
    border-left-color:var(--theme-primary-background)!important;
    border-right-color:var(--theme-primary-background)!important;
    border-bottom-color:var(--theme-primary-background)!important;
}

.bordered {
    border-width: 1px!important;
    border-style: solid!important;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.app-panel {
    background-color: var(--theme-panel-background);
    color: var(--theme-panel-foreground);
}

section {
    border: 2px solid var(--theme-primary-background);
    padding: 8px;
    margin-top: 16px;
}

section>header {
    margin: -8px;
    padding: 8px 16px;
    color: var(--theme-primary-foreground);
    background-color: var(--theme-primary-background);
}

section.no-subsection section {
    display: none; /* hide nested sections */
}

table {
    width: 100%;
}

img.icon {
    height: 1.5em;
    margin-left: -0.25em;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.comma-separated *:not(:last-child)::after {
    content: ", ";
}

.usage-bullet,.condition-bullet {
    list-style: none;
}
.usage-bullet li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    background: url("../art/grn_arrow.svg") no-repeat center center;
    background-size: contain;
}
.condition-bullet li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    background: url("../art/red_diamond.svg") no-repeat center center;
    background-size: contain;
}

.chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.chevron.up {
    transform: scaleY(-1);
}
.chevron.right {
    transform: rotate(-90deg);
}
.chevron.left {
    transform: rotate(90deg);

}