html {
    min-height: 100%;
    background: repeating-linear-gradient(
        -45deg,
        #ffffff,
        #ffffff 20px,
        #fcfcfc 20px,
        #fcfcfc 40px
    );
}

.app-primary {
    color:#fff!important;
    background-color:#ff5722!important;
}

.text-primary {
    color:#ff5722!important;
}

.app-error {
    color:#fff!important;
    background-color:#8f0707!important;
}

.border-primary {
    border-top-color:#ff5722!important;
    border-left-color:#ff5722!important;
    border-right-color:#ff5722!important;
    border-bottom-color:#ff5722!important;
}

section {
    border: 2px solid #ff5722;
    padding: 8px;
    margin-top: 16px;
}

section>header {
    margin: -8px;
    padding: 8px 16px;
    color: white;
    background-color: #ff5722;
}

section section {
    display: none; /* hide nested sections */
}

table {
    width: 100%;
}

.comma-separated *:not(:last-child)::after {
    content: ", ";
}

.usage-bullet,.condition-bullet {
    list-style: none;
}
.usage-bullet li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    background: url("../art/grn_arrow.svg") no-repeat center center;
    background-size: contain;
}
.condition-bullet li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    background: url("../art/red_diamond.svg") no-repeat center center;
    background-size: contain;
}