/* /Layout/Accordion.razor.rz.scp.css */
.chevron[b-t7gq6crzbu] {
    height: 1em;
    width: 1em;
    float: right;
}

.accordion[b-t7gq6crzbu] {

}

/* Accordion */
.accordion>button[b-t7gq6crzbu] {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-panel-background);
}

.accordion>button:hover[b-t7gq6crzbu] {
    color: #000;
    background-color: #ccc;
}

.accordion>.accordion-content[b-t7gq6crzbu] {
    border-color: var(--theme-panel-background) !important;
    border-top-width: 0px; border-top-style: solid;
    border-bottom-width: 0px; border-bottom-style: solid;
    border-left-width: 6px; border-left-style: solid;
    border-bottom-width: 6px; border-bottom-style: solid;
}

/* Nested Accordion */
.accordion .accordion>button[b-t7gq6crzbu] {
    color: var(--theme-panel-foreground) !important;
    background-color: transparent !important;
}

.accordion .accordion>button:hover[b-t7gq6crzbu] {
    color: #000 !important;
    background-color: #ccc !important;
}

.accordion .accordion>.accordion-content[b-t7gq6crzbu] {
    margin-left: 16px;
    border-bottom-width: 0px;
    margin-bottom: 6px;
}
/* /Layout/Counters.razor.rz.scp.css */
input[b-mzmrqjyjxb] {
    background-color: #0000000a;
    color: var(--theme-panel-foreground)!important
}

img[b-mzmrqjyjxb] {
    height: 1.5em;
    margin-top: -0.25em;
    padding-right: 0.25em;
}

.w3-light-grey[b-mzmrqjyjxb] {
    color: var(--theme-panel-foreground)!important;
    background-color: var(--theme-panel-background)!important;
}

.turning-points button[b-mzmrqjyjxb] {
        width: 3em;
        display: inline-block;
        border-bottom: 1px solid rgb(204, 204, 204);
}
.turning-points input[b-mzmrqjyjxb] {
    text-align: center;
    display: inline-block;
}
/* /Layout/DiceShelf.razor.rz.scp.css */
.dice[b-380v0wsf12] {
    --d6-size: 80px;
    --d6-half-size: 40px;
    transform: scale(1.1);
    display: inline-block;
    padding: 15px;
}

.clickable[b-380v0wsf12] {
    cursor: pointer;
}

.d6[b-380v0wsf12] {
    display: inline-block;
    width: var(--d6-size);
    height: var(--d6-size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(-1 * var(--d6-half-size)));
    transition: transform 1s ease-out;
}

.d6-show-1[b-380v0wsf12]  { transform: translateZ(-100px) rotateY(   0deg); }
.d6-show-2[b-380v0wsf12]  { transform: translateZ(-100px) rotateY(-180deg); }
.d6-show-3[b-380v0wsf12]  { transform: translateZ(-100px) rotateY( -90deg); }
.d6-show-4[b-380v0wsf12]  { transform: translateZ(-100px) rotateY(  90deg); }
.d6-show-5[b-380v0wsf12]  { transform: translateZ(-100px) rotateX( -90deg); }
.d6-show-6[b-380v0wsf12]  { transform: translateZ(-100px) rotateX(  90deg); }

.d6 .face[b-380v0wsf12] {
    position: absolute;
    width: var(--d6-size);
    height: var(--d6-size);
    border: 1px solid white;
    line-height: var(--d6-size);
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    user-select: none;
    background: rgb(34, 34, 34);
}

.d6 .face-1[b-380v0wsf12]  { transform: rotateY(  0deg) translateZ(var(--d6-half-size)); }
.d6 .face-2[b-380v0wsf12]  { transform: rotateY(180deg) translateZ(var(--d6-half-size)); }
.d6 .face-3[b-380v0wsf12]  { transform: rotateY( 90deg) translateZ(var(--d6-half-size)); }
.d6 .face-4[b-380v0wsf12]  { transform: rotateY(-90deg) translateZ(var(--d6-half-size)); }
.d6 .face-5[b-380v0wsf12]  { transform: rotateX( 90deg) translateZ(var(--d6-half-size)); }
.d6 .face-6[b-380v0wsf12]  { transform: rotateX(-90deg) translateZ(var(--d6-half-size)); }



table[b-380v0wsf12] {
    width: 100%;
}

th[b-380v0wsf12] {
    font-weight: bold;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

tr:nth-child(even)[b-380v0wsf12] {
    background-color: lightgray;
}

table[b-380v0wsf12] {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 6px;
}
/* /Layout/Editing/PropertyEditor.razor.rz.scp.css */
textarea[b-qxjjnks04e] {
    width: 100%;
    resize: vertical;
}
/* /Layout/Header.razor.rz.scp.css */
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/Modal.razor.rz.scp.css */
.w3-modal-content[b-3jugimk9m9] {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-background-light);
    border-color: var(--theme-primary-background);
    border-width: 1px;
    border-style: solid;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.w3-sidebar-background[b-j9zpof6xy1] {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.w3-sidebar-background.hide[b-j9zpof6xy1] {
    display: none !important;
}

.w3-sidebar[b-j9zpof6xy1] {
    z-index: 2;
    width: min(100%, 320px);
    display: flex;
    height: 100dvh;
    flex-direction: column;
    color: var(--theme-panel-foreground);
    background-color: var(--theme-background-light);
}

.w3-sidebar.hide[b-j9zpof6xy1] {
    display: none !important;
}

.w3-sidebar>header[b-j9zpof6xy1] {
    flex-shrink: 0;     /* fixed height */
    border-bottom: 1px solid #ccc;
}

.w3-sidebar>nav[b-j9zpof6xy1] {
    display: block;
    flex: 1;            /* take remaining space */
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto;   /* scroll when needed */
}

.w3-sidebar>footer[b-j9zpof6xy1] {
    flex-shrink: 0;     /* never shrink */
    border-top: 1px solid #ccc;
}
/* /Layout/QualityAssurance/AutolinkReview.razor.rz.scp.css */
.original[b-ig0vg4cvcf] {
    color: red;
}
.original[b-ig0vg4cvcf]::before {
    content: "[";
}
.original[b-ig0vg4cvcf]::after {
    content: "]";
}

.replacement[b-ig0vg4cvcf] {
    color: green;
}
.replacement[b-ig0vg4cvcf]::before {
    content: "[";
}
.replacement[b-ig0vg4cvcf]::after {
    content: "]";
}
/* /Layout/QualityAssurance/BoldingReview.razor.rz.scp.css */
.original[b-kem6z2gqnk] {
    color: red;
}
.original[b-kem6z2gqnk]::before {
    content: "[";
}
.original[b-kem6z2gqnk]::after {
    content: "]";
}

.replacement[b-kem6z2gqnk] {
    color: green;
}
.replacement[b-kem6z2gqnk]::before {
    content: "[";
}
.replacement[b-kem6z2gqnk]::after {
    content: "]";
}
/* /Layout/QualityAssurance/BrokenLinkReview.razor.rz.scp.css */
.original[b-7rpfnuaczl] {
    color: red;
}
.original[b-7rpfnuaczl]::before {
    content: "[";
}
.original[b-7rpfnuaczl]::after {
    content: "]";
}

.replacement[b-7rpfnuaczl] {
    color: green;
}
.replacement[b-7rpfnuaczl]::before {
    content: "[";
}
.replacement[b-7rpfnuaczl]::after {
    content: "]";
}
/* /Layout/QuickReference.razor.rz.scp.css */
.article[b-a74zqimslp] {
    margin-bottom: 16px;
}

.article>header[b-a74zqimslp],div>header[b-a74zqimslp] {
    text-align: center;
}

.article>header>span[b-a74zqimslp],div>header>span[b-a74zqimslp] {
    padding: 8px 16px;
    font-size: larger;
    font-weight: bold;
}

.article>header>span[b-a74zqimslp]{
    color: var(--theme-panel-foreground);
    background-color: var(--theme-panel-background);
}

.article>div[b-a74zqimslp] {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-panel-background);
}

.article ul[b-a74zqimslp] {
    margin-block-start: 0;
    margin-block-end: 0;
}

table.striped tbody tr:nth-child(even)[b-a74zqimslp]{
    color:black;
    background-color: rgba(0,0,0,0.1);
}

@media  (prefers-color-scheme: dark) {
    table.striped tbody tr:nth-child(even)[b-a74zqimslp]{
        color: rgb(255, 123, 0);
        background-color: rgba(255,255,255,0.2);
    }
}


.title[b-a74zqimslp] {
    background-color: var(--theme-primary-background)!important;
}

.link[b-a74zqimslp] {
    color: var(--theme-primary-background)!important;
    cursor: pointer;
    text-decoration: underline;
}
/* /Layout/RuleAlert.razor.rz.scp.css */
.w3-modal-content[b-oo77x8cheu] {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-background-light);
    border-color: var(--theme-primary-background);
    border-width: 1px;
    border-style: solid;
}
/* /Layout/RuleSearch.razor.rz.scp.css */
.w3-display-container>img[b-l7hwozzl11] {
    left: 13px;
    -webkit-user-drag: none;  /* Blocks dragging in Chrome, Safari, and Edge */
    user-select: none;        /* Blocks accompanying text/image selection */
    -webkit-user-select: none;
    -moz-user-select: none;
}

.search[b-l7hwozzl11] {
    padding-left: 40px;
}

.search:focus[b-l7hwozzl11]{
    outline: 1px solid rgba(0,0,0,.1);
}

.results[b-l7hwozzl11] {
    list-style-type: upper-roman;
}
/* /Layout/SetupWizard.razor.rz.scp.css */
/* /Layout/SetupWizardPages/EquipmentSelection.razor.rz.scp.css */
table[b-7f61os6nnd] {
    width: 100%;
    table-layout: fixed
}

table th[b-7f61os6nnd] {
    font-weight: bold;
}

table td:nth-child(1)[b-7f61os6nnd],
table th:nth-child(1)[b-7f61os6nnd]
{
    width: auto;
    white-space: wrap;
}

table tbody tr:nth-child(even)[b-7f61os6nnd]{
    color:rgb(255, 123, 0);
    background-color: rgba(0,0,0,0.1);
}

@media  (prefers-color-scheme: dark) {
    table tbody tr:nth-child(even)[b-7f61os6nnd]{
        background-color: rgba(255,255,255,0.2);
    }
}

table td:nth-child(2)[b-7f61os6nnd], 
table th:nth-child(2)[b-7f61os6nnd] {
    width: 8em;
    white-space: nowrap;
}
/* /Layout/SetupWizardPages/OperativeSelection.razor.rz.scp.css */
table[b-32co24661i] {
    width: 100%;
    table-layout: fixed
}

table th[b-32co24661i] {
    font-weight: bold;
}

table td:nth-child(1)[b-32co24661i],
table th:nth-child(1)[b-32co24661i]
{
    width: auto;
    white-space: wrap;
}

table tbody tr:nth-child(even)[b-32co24661i]{
    color:rgb(255, 123, 0);
    background-color: rgba(0,0,0,0.1);   
}

@media  (prefers-color-scheme: dark) {
    table tbody tr:nth-child(even)[b-32co24661i]{
        background-color: rgba(255,255,255,0.2);
    }
}


table td:nth-child(2)[b-32co24661i], 
table th:nth-child(2)[b-32co24661i] {
    width: 8em;
    white-space: nowrap;
}
/* /Layout/UnitRenderer.razor.rz.scp.css */
header[b-tyfdc6oqe8] {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--theme-dark-background);
    color: var(--theme-dark-foreground);
}

footer[b-tyfdc6oqe8] {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--theme-dark-background);
    color: var(--theme-dark-foreground);
}

.clickable[b-tyfdc6oqe8] {
    cursor: pointer;
}

.attributes[b-tyfdc6oqe8] {
    padding-top: 12px;
    font-size: 24px;
}

.unit-name span[b-tyfdc6oqe8] {
    display: inline-block;
    padding-left: 1em;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    position: relative;
    z-index: 1;            /* keep text above image if they overlap */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 600px) {
    .unit-name span[b-tyfdc6oqe8] {
        padding-left: 0.25em;
    }
    .attributes[b-tyfdc6oqe8] {
        font-size: 18px;
    }
}

.unit-name[b-tyfdc6oqe8] {
    position: relative;
    overflow: hidden;      /* crop anything outside */
    margin: 0;
}

.unit-name img[b-tyfdc6oqe8] {
    position: absolute;
    right: 0;              /* stick to end of 2/3 column */
    top: 0;

    height: auto;         /* or whatever size you want */
    width: min(50%, 320px);

    z-index: 0;
}

.horizontal-gallery[b-tyfdc6oqe8] {
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 16px;
    white-space: nowrap;
}

.gallery-item[b-tyfdc6oqe8] {
    display: inline-block;
    padding: 2px;
    height: 76px;
    width: 76px;
    text-align: center;
}

.gallery-item img[b-tyfdc6oqe8] {
    width: 100%;
    height: 100%;
    object-fit: cover;

    mask-image: url("art/marker.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("art/marker.svg");
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

article[b-tyfdc6oqe8] {
    border: 2px solid var(--theme-dark-background);
}

table[b-tyfdc6oqe8] {
    width: 100%;
}

th[b-tyfdc6oqe8] {
    font-weight: bold;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

tr:nth-child(even)[b-tyfdc6oqe8] {
    background-color: var(--theme-panel-background);
}

table[b-tyfdc6oqe8] {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 6px;
}
/* /Pages/Admin/AssetBuilder.razor.rz.scp.css */
textarea[b-j6pryufax8] {
    display: block;
    width: 100%;
    min-height: 24em;
    resize: vertical;
}

details[b-j6pryufax8] {
    margin-left: 12px;
    margin-right: 12px;
}

label[b-j6pryufax8] {
    font-weight: bold;
}

input[b-j6pryufax8], select[b-j6pryufax8], textarea[b-j6pryufax8] {
    margin-bottom: 6px;
}
/* /Pages/Home.razor.rz.scp.css */
article[b-yj484j0oi8] {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
}

@media (max-width: 600px) {
    article[b-yj484j0oi8] {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.w3-border-light-grey[b-yj484j0oi8] {
    border-color: var(--theme-panel-background) !important;
}
