.chevron {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 1em;
    width: 1em;
    float: right;
}

.chevron.up {
    transform: scaleY(-1);
}

.accordion {

}

.accordion>button {
    color: #000;
    background-color: #f1f1f1;
}

.accordion>button:hover {
    color: #000;
    background-color: #ccc;
}

.accordion .accordion>button {
    color: #000 !important;
    background-color: white !important;
}

.accordion .accordion>button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.accordion>.accordion-content {
    border-color: #f1f1f1 !important;
    border-top-width: 0px; border-top-style: solid;
    border-bottom-width: 0px; border-bottom-style: solid;
    border-left-width: 6px; border-left-style: solid;
    border-bottom-width: 6px; border-bottom-style: solid;
}

.accordion .accordion>.accordion-content {
    margin-left: 16px;
    border-bottom-width: 0px;
    margin-bottom: 6px;
}