.w3-modal-content {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-background-light);
    border-color: var(--theme-primary-background);
    border-width: 1px;
    border-style: solid;
}