.w3-modal-content {
    color: var(--theme-panel-foreground);
    background-color: var(--theme-background-light);
    border-color: var(--theme-primary-background);
    border-width: 1px;
    border-style: solid;
}

.header-icon-col {
    width: 76px;
    vertical-align: middle;
    padding: 4px;
}


.header-icon-col>img {
    width: 100%;
}