.search {
    padding-left: 40px;
    background: transparent url("art/search.svg") no-repeat 13px center;
}

.search:focus{
    outline: 1px solid rgba(0,0,0,.1);
}

.results {
    list-style-type: upper-roman;
}
