.w3-display-container>img {
    left: 13px;
    -webkit-user-drag: none;  /* Blocks dragging in Chrome, Safari, and Edge */
    user-select: none;        /* Blocks accompanying text/image selection */
    -webkit-user-select: none;
    -moz-user-select: none;
}

.search {
    padding-left: 40px;
}

.search:focus{
    outline: 1px solid rgba(0,0,0,.1);
}

.results {
    list-style-type: upper-roman;
}
