article {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
}

@media (min-width: 993px) {
    main {
        margin-left: 320px;
    }
}

@media (max-width: 600px) {
    article {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.w3-border-light-grey {
    border-color: var(--theme-panel-background) !important;
}