table {
    width: 100%;
    table-layout: fixed
}

table th {
    font-weight: bold;
}

table td:nth-child(1),
table th:nth-child(1)
{
    width: auto;
    white-space: wrap;
}

table tbody tr:nth-child(even){
    color:rgb(255, 123, 0);
    background-color: rgba(0,0,0,0.1);   
}

@media  (prefers-color-scheme: dark) {
    table tbody tr:nth-child(even){
        background-color: rgba(255,255,255,0.2);
    }
}


table td:nth-child(2), 
table th:nth-child(2) {
    width: 8em;
    white-space: nowrap;
}